<h4>A player has cancelled so you are confirmed for the game on <%=@game['date'].strftime("%a %-m/%-d")%>.</h4>
<h4>If you can no longer make it then please cancel your reservation.</h4>
<p>Game will be run if 10 people are signed up by 6pm.</p>
<p>Cost: $8-10 depending on number of players. Please bring cash.</p>
<p>Location: 2741 S Kegg Road, Bloomington, IN</p>
